<head>
     <link rel="stylesheet" href="../CSS/w3.css">
</head>
<!--<img src="coupons.jpg"><br><br>-->
<div class="details" ng-controller="adminCtrl as d">
<h3> <b>Here are all Customers registered in site</b></h3>

<a >    Submit an id to find a specific Customer</a><br/>
  
 <a > enter an ID: </a>  <input ng-model="d.customer.id" value="id" type="text"></input>
    <input class="buttonadmin" ng-click="d.getCustomerById()" value="filter" type="button"></input>
     <input class="buttonadmin" ng-click="d.refreshCustomers()" value="refresh" type="button"></input><br/><br/>
    <table border=1 >
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btncolumn" ng-click="d.setOrder('id')"> Customer ID
           <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
          </th></button>
         <th><button class="btncolumn" ng-click="d.setOrder('custName')">Customer Name
                  <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
            </th></button>
               <th><button class="btncolumn" ng-click="d.setOrder('password')">Customer Password
                  <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
            </th></button>
            
            <tr>

                <tr ng-repeat="c in d.customers | orderBy : d.order : d.goUp  ">
                    <td><button class="buttonadmin" ng-click="c.edit = !c.edit ">{{c.edit?'Exit edit':'Enable edit'}}</td>
                    <td><input class="buttonadmin" value="update DB" type="button" ng-click="d.updateCustomer(c)" /></td>     
                    <td> <input class="buttonadmin" value="delete" type="button" ng-click="d.deleteCust(c)" /></td>
                    <td>{{c.id}}</td>
                    <td>{{c.custName}}</td>
                    <td><p ng-show="!c.edit">{{c.password}}</p><input  type="text" ng-show="c.edit" ng-model="c.password"></td>
                </tr>
    </table>
</div>