<head>
    <link rel="stylesheet" href="../CSS/w3.css">
</head>
<!--<img src="coupons.jpg"><br><br>-->
<div class="details" ng-controller="adminCtrl as d">
    <h3> <b>Here are all Companies registered in site</b></h3>

    <a>    Submit an id to find a specific Company</a><br/>

    <a> enter an ID: </a> <input ng-model="d.company.id" value="id" type="text"></input>
    <input class="buttonadmin" ng-click="d.getCompanyById()" value="filter" type="button"></input>
    <input class="buttonadmin" ng-click="d.refresh()" value="refresh all companies" type="button"></input><br/><br/>
    <p>In order to update Company Values:<br/> 1. click on Enable edit<br/> 2. edit the values you wish to change<br/> 3. click
        on update DB<br/>
    </p>
    <table border=1>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><button class="btncolumn" ng-click="d.setOrder('id')"> Company ID
           <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
          </th></button>
                <th><button class="btncolumn" ng-click="d.setOrder('compName')">Company Name
                  <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
            </th></button>
                    <th><button class="btncolumn" ng-click="d.setOrder('password')">Company Password
                  <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
            </th></button>
                        <th><button class="btncolumn" ng-click="d.setOrder('email')">Company Email
                  <span ng-hide="d.goUp">▼</span>
                <span ng-show="d.goUp">▲</span>
            </th></button>
                            <tr>

                                <tr ng-repeat="c in d.companies | orderBy : d.order : d.goUp ">
                                    <td><button class="buttonadmin" ng-click="c.edit = !c.edit " />{{c.edit?'Exit edit':'Enable edit'}}</td>
                                    <td><input class="buttonadmin" value="update DB" type="button" ng-click="d.updateCompany(c)" /></td>
                                    <td><input class="buttonadmin" value="delete" type="button" ng-click="d.delete(c)" /></td>
                                    <td>{{c.id}}</td>
                                    <td>{{c.compName}}</td>
                                    <td>
                                        <p ng-show="!c.edit">{{c.password}}</p><input type="text" ng-show="c.edit" ng-model="c.password" /></td>
                                    <td>
                                        <p ng-show="!c.edit">{{c.email}}</p><input type="text" ng-show="c.edit" ng-model="c.email" /></td>
                                </tr>

    </table>
</div>
