<html>
<head >
	<title >Form Submission</title >
	
	<link href="../CSS/bootstrap.css" rel="stylesheet">
   
    <script src="form.js"></script>  
</head >

<body >
<br/><br/><br/><br/>
<div class="container main-content" ng-controller="MainCtrl">

	<form ng-submit="onSubmit(theForm.$valid)"
		name="theForm"
		novalidate="novalidate"
	>
		<div class="form-group" >
			<label for="name" >Name</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.name"
			       id="name" >
		</div >

		<div class="form-group"
		ng-class="{
			       'has-error':!theForm.email.$valid,
				   'has-success':theForm.email.$valid
				   }
				   ">
			<label for="email" >Email</label >
			<input type="email"
			       class="form-control"
			       ng-model="formModel.email"
				   id="email" 
			       name="email" 
                   required="required">
			<pre ng-if="!theForm.email.$valid && !theForm.email.$pristine">email not valid</pre>
		</div >

		<div class="form-group" 
		ng-class="{
			       'has-error':!theForm.username.$valid,
				   'has-success':theForm.username.$valid
				   }
				   ">
			<label for="username" >Username</label >
			<input type="text"
			       class="form-control"
			       ng-model="formModel.username"				   
				   id="username" 
				   name="username"
				   pattern="[A-Za-z]{3}" 
				   required="required"
			       id="username" >
			<pre ng-if="!theForm.username.$valid && !theForm.username.$pristine">name should contain 3 letters</pre>
		</div >

		<div class="form-group" >
			<label for="age" >Age</label >
			<input type="number"
			       class="form-control"
			       ng-model="formModel.age"
			       id="age" >
		</div >

		<div class="form-group" >
			<label for="sex" >Sex</label >
			<select name="sex"
			        id="sex"
							class="form-control"
							ng-model="formModel.sex" >
				<option value="" >Please Choose</option >
				<option value="male" >Male</option >
				<option value="female" >Female</option >
			</select >
		</div >

		<div class="form-group" >
			<label for="password" >Password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
			       id="password" >
		</div >

		<div class="form-group">
			<button class="btn btn-primary" type="submit">Register
			</button>
		</div>

	</form >

	<pre>{{ theForm | json }}</pre>
	<pre>{{ theForm.email}}</pre>
</div >

</body >
</html >