<!--<img src="couponsbyType.jpg"><br><br>-->
<!--<head>
<title>xgallery</title>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>-->

<!--<div id="content">
    <ul id="picturelist">
      <li>a tree<a href="#"><img src="images/autumntree.jpg" alt="a tree"/></a></li>
      <li>the sea<a href="#"><img src="images/bluesea.jpg" alt="the sea"/></a></li>
      <li>the forest<a href="#"><img src="images/greenforest.jpg" alt="the forest"/></a></li>
      <li>a bunch of orange flowers<a href="#"><img src="images/orangeflowers.jpg" alt="a bunch of orange flowers"/></a></li>
      <li>a turtle in the sea<a href="#"><img src="images/turtleblue.jpg" alt="a turtle in the sea"/></a></li>
      <li>a garden/jungle thing<a href="#"><img src="images/jungle.jpg" alt="a garden/jungle thing"/></a></li>
      <li>an oryx antelope in the desert<a href="#"><img src="images/antelope.jpg" alt="an oryx antelope in the desert"/></a></li>
      <li>mesas in the desert<a href="#"><img src="images/desert.jpg" alt="mesas in the desert"/></a></li>
    </ul>
  </div>
  <div style="clear:both; height: 40px"></div>
</div>-->
    <!--Input a type: <input ng-model="b.type" >
     {{b.type}}-->
<h1> Select your Category</h1>
<div  ng-controller="GetCouponsCtrl as b">

    <!--<button ng-click="b.getByType('RESTURANTS')" ng-model>RESTURANTS</button><br/>-->
    <button ng-click="b.filter = {type : 'RESTURANTS'}">RESTURANTS</button><br/>

    <!-----9> {{b.type}}-->

    <table ng-show="b.show" border=1 style="margin-left:2%">
        <tr>
            <th>Coupon ID</th>
            <th>Coupon Title</th>
            <th>Valid From</th>
            <th>Expiration Date</th>
            <th>Category</th>
            <th>Amount Available</th>
            <th>Coupon Description</th>
            <th>Coupon Price</th>
            <th>Coupon Image</th>
            <tr>
 
                <tr ng-repeat="a in b.coupons | b.filter">
                    <td>{{t.id}}</td>
                    <td>{{t.title}}</td>
                    <td>{{t.startDate}}</td>
                    <td>{{t.endDate}}</td>
                    <td>{{t.type}}</td>
                    <td>{{t.amount}}</td>
                    <td>{{t.message}}</td>
                    <td>{{t.price}}</td>
                    <td>{{t.image}}</td>
                </tr>
    </table>
</div>