<!--<img src="coupons.jpg"><br><br>-->

    <div class="details" id="buttons" ng-controller="CompanyCtrl as g">
    <h3> <b>Select Category</b></h3>

    <button ng-click="b.filter={}" class="btn blue"><b>All Coupons</b></button>
    <button ng-click="b.filter={ 'type' : 'RESTURANTS' }" class="btn green">RESTURANTS</button>
    <button ng-click="b.filter={ 'type' : 'SPORTS' }" class="btn red">SPORTS</button>
    <button ng-click="b.filter={ 'type' : 'FOOD' }" class="btn purple">FOOD</button>
    <button ng-click="b.filter={ 'type' : 'ELECTRICITY' }" class="btn orange">ELECTRICITY</button>
    <button ng-click="b.filter={ 'type' : 'HEALTH' }" class="btn yellow">HEALTH</button>
    <button ng-click="b.filter={ 'type' : 'CAMPING' }" class="btn green">CAMPING</button>
    <button ng-click="b.filter={ 'type' : 'TRAVELLING' }" class="btn red">TRAVELLING</button><br/>

    <p> Search By Coupon ID</p><input ng-model="g.coupon.id" type="text" />
    <input class="buttoncompbig" value="filter" ng-click="g.filterById()" type="button" /><input class="buttoncompbig" value="refresh" ng-click="g.refresh()" type="button" />
    <p> Until Expiration Date</p><input ng-model="g.coupon.date" type="text" />
    <input class="buttoncompbig" value="filter" ng-click="g.getUntilDate()" type="button" /><input class="buttoncompbig" value="refresh" ng-click="g.refresh()" type="button" />
    <br/><br/>
    <table border=1 >
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('id')"> Coupon ID
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('title')"> Coupon Title
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                    <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('startDate')"> Valid From
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                        <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('endDate')"> Expiration Date
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                            <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('type')"> Category
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                                <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('amount')"> Amount Available
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                                    <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('message')"> Coupon Description
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                                        <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('price')"> Coupon Price
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>

                                            <th class="th1"><button class="btncolumn1" ng-click="g.setOrder('image')"> Coupon Image
           <span ng-hide="g.goUp">▼</span>
                <span ng-show="g.goUp">▲</span>
          </th></button>
                                                <!--<tr>-->
                                                  
                                                    <tr ng-repeat="c in g.coupons | filter: b.filter | orderBy : g.order : g.goUp">
                                                        <td><button class="buttoncomp" ng-click="c.edit = !c.edit " />{{c.edit?'Exit edit':'Enable
                                                            edit'}}
                                                        </td>
                                                        <td><input class="buttoncomp" value="update DB" type="button" ng-click="g.updateCoup(c)"
                                                            /></td>
                                                        <td><input class="buttoncomp" value="delete" type="button" ng-click="g.deleteCoup(c)" /></td>
                                                        <td>{{c.id}}</td>
                                                        <td>{{c.title}}</td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.startDate | date:'longDate'}}</p><input type="text" ng-show="c.edit"
                                                                ng-model="c.startDate" /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.endDate | date:'longDate'}}</p><input type="text" ng-show="c.edit"
                                                                ng-model="c.endDate" /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.type}}</p><input type="text" ng-show="c.edit" ng-model="c.type"
                                                            /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.amount}}</p><input type="text" ng-show="c.edit" ng-model="c.amount"
                                                            /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.message}}</p><input type="text" ng-show="c.edit" ng-model="c.message"
                                                            /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.price}}</p><input type="text" ng-show="c.edit" ng-model="c.price"
                                                            /></td>

                                                        <td>
                                                            <p ng-show="!c.edit">{{c.image}}</p><input type="text" ng-show="c.edit" ng-model="c.image"
                                                            /></td>
                                                    </tr>
    </table>

</div>
<hr/>
<hr/>
<hr/>